master/build/
master/managed_components/
master/sdkconfig
master/sdkconfig.old
master/.cache/
master/secrets.env
master/dependencies.lock

channel/build/
channel/managed_components/
channel/sdkconfig
channel/sdkconfig.old
channel/.cache/
channel/dependencies.lock
